










.projects{
    .intro, ul, h1{
        color:#000000;
    }
    .project-header{
        padding-bottom: 6%;
    }
    .light-grey-bg{
        background-color:#F8F8F8;
    }
    .section-margin{
        margin-top:6%;
    }
    .forced-full-width{
        
    }
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 36px;
    color:#6E6E6E;
}